# Ruby & Bundler
.bundle/
vendor/
Gemfile.lock
*.gem

# Jekyll build & cache
_site/
.jekyll-cache/
.jekyll-metadata

# Chirpy/Custom
_sass/vendors/
assets/js/dist/
assets/lib/
assets/css/dist/
assets/css/*.min.css
assets/js/*.min.js

# Logs
*.log
