# Core
theme: jekyll-theme-chirpy
lang: es-ES

title: "mrsx0A"
tagline: "eJPTv3 | eCPPTv3"

url: "https://maariooors.github.io"
baseurl: ""

github:
  username: maariooors

footer_name: "mrsx0A"

avatar: /assets/img/avatar.jpeg
toc: true
paginate: 10

# Chirpy essentials
collections:
  tabs:
    output: true
    sort_by: order
  pages:
    output: true

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: false
      toc: true
      permalink: /posts/:title/
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/
  - scope:
      path: ""
      type: pages
    values:
      layout: page

kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - "package*.json"
  - "*.config.js"
